@import url("https://fonts.googleapis.com/css2?family=Kodchasan:wght@300;400;700&display=swap");
.homepage-container {
  background-image: url("../../assets/skin-routine-cover-flipped.jpg");
  background-size: cover; /* Ensures the image scales to cover the entire area */
  background-position: center; /* Keeps the focus of the image in the center */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  height: 100vh; /* Ensures the container covers the full viewport height */
  width: 100vw; /* Ensures the container covers the full viewport width */
  display: flex;
  flex-direction: column;
  justify-content: start; /* Centers the child elements */
  align-items: center; /* Aligns children horizontally to the center */
  /* Add these to ensure responsiveness */
  overflow: hidden; /* Prevents content overflow on very large screens */
}

.skin-routine-title-img {
  max-width: 100%;
  height: 150px;
  display: block;
  margin-left: 30px;
  margin-top: 20px;
  align-self: start;
}

.get-started-link {
  align-self: center;
  background: white;
  margin-top: auto;
  margin-bottom: 40px;
  margin-right: auto;
  margin-left: 40px;
  border-radius: 10px;
  width: 200px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Kodchasan", sans-serif;
  border: none;
  font-family: "Kodchasan", sans-serif;
  font-weight: 400;
}

.get-started-link:hover {
  cursor: pointer;
  border: 1px solid black;
  text-decoration: underline;
}

.page-links {
  display: flex;
  flex-direction: row;
}

.bottom-text {
  font-family: "Kodchasan", sans-serif;
  font-weight: 400;
  font-size: 18px;
  display: block;
  margin-right: auto;
  margin-left: 30px;
  font-size: 30px;
}

@media screen and (max-width: 830px) {
  .homepage-container {
    background-image: url("../../assets/skin-routine-cover.jpg");
    background-size: cover;
    background-position: 25% 0px;
    background-repeat: no-repeat;
  }

  .skin-routine-title-img {
    height: 70px;
    max-width: 90%;
    margin-left: 15px;
    margin-top: 50px;
  }
  .get-started-link {
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
  }

  .bottom-text {
    margin-top: auto;
    font-size: 18px;
    margin-left: 0;
    margin-right: 0;
  }
}
